<%- include('partials/header'); %>

     <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
          <div class="px-0">
               <h1 class="display-4 fst-italic">
                    <%= blogTitle %>
               </h1>
               <p class="lead m-top">
                    <%= blogBody %>
               </p>
          </div>
     </div>

     <%- include('partials/footer'); %>